
	<div class="row">
		<div class="col-md-3">
		</div>
		<div class="col-md-6">
			<%= form_for(@entry) do |form| %>
				<div class= "field form-group">
					<h3><%= form.label :title %></h3>
					<p><%= form.text_field :title, class: 'form-control' %></p>
				</div>
				<div class= "field form-group">
					<h3><%= form.label :contents %></h3>
					<p><%= form.text_area :contents, class: 'form-control' %></p>
				</div>
				<div class= "action form-group">
					<%= form.submit class: 'btn btn-primary' %>
				</div>
			<% end %>
		</div>
	<div class="col-md-3">
	</div>
	
</div>
<br>
<%= link_to("Back to this entry", entry_path(@entry), class: "btn btn-warning") %>
<%= link_to("Back to all Entries", entries_path, class: "btn btn-danger") %>


