<% for entry in  @entries %>
	<div class="row">
        <div class="col-md-1"> 
        </div>
    	<div class="col-md-10 card card-body bg-light">
    		<h3><%= link_to(entry.title, entry_path(entry)) %></h3>
            <h6><%= entry.date %></h6>
            <%= markdown(entry.contents) %>
    	</div>
    	
    	<% if admin_signed_in? %>  
    	   <div class="col-md-1">      
    		  <%= link_to("Edit", edit_entry_path(entry), class: 'btn btn-warning') %>
            </div>
        <% end %>
    	
    </div>
    <br>
<% end %>

<div class="d-flex flex-column justify-content-center align-items-center">
    <div class="page_info">
      <%= page_entries_info @entries %>
    </div>
    <div>
         <%= will_paginate @entries, :container => false %>
    </div>
  </div>



