<div class = "container">
		<% for entry in @entries %>
			<div class="row">
		    	<div class="col">
		    		<h3><%= link_to(entry.title, entry_path(entry)) %></h3>
		    	</div>
		    	<div class="col">
		    		<%= entry.date %>
		    	</div>
		    	<div class="col">
		    		<%= entry.contents %>
		    	</div>
		    	<div class="col">
		    		<%= link_to("Edit", edit_entry_path(entry)) %>
		    	</div>
		    </div>
		<% end %>
</div>
<%= link_to("New Entry", new_entry_path) %>



