
<h2><%= @entry.title %></h2>
<p><%= @entry.date %></p>
<p><%= markdown(@entry.contents) %></p>
<li>
	<% for tag in @tags %>
		<ul> <%= tag.name %></ul>
	<% end %>
</li>

<br>
<% if admin_signed_in? %>  
    	   <div class="col-md-4">      
    		  <%= link_to("Edit", edit_entry_path(@entry.id), class: 'btn btn-warning') %>
            </div>
<% end %>
<div class="col-md-4">
<%= link_to("Back to all Entries", entries_path(@entry), class: "btn btn-danger")%>
</div>