<!DOCTYPE html>
<html>
  <head>
    <title>Jacob Eekhof</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag "https://emoji.gg/assets/emoji/1132_dancingcat.gif" %>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Fraunces:wght@400;700&display=swap" rel="stylesheet"> 

    <script src="https://kit.fontawesome.com/f64ecfb92d.js" crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
      <nav id= "mySideNav" class="sidenav navbar-expand-md navbar-dark">
        <div>
        <%= link_to "Jacob Eekhof", root_path , class:"brand"%>
        <br>
        <i class="fas fa-gamepad"></i>
        </div>
        
        <div>    
          <%= link_to "Work ", entries_path(:tag => "work"), class:"nav-link" %></a>
          <%= link_to "Play ", entries_path(:tag => "play"), class:"nav-link" %></a>
          <%= link_to "Study ", entries_path(:tag => "study"), class:"nav-link" %></a>
        </div>
        <div>
          <%= link_to "About", about_path, class:"nav-link" %></a>
          <div class="social-links"> 
             <a href="https://github.com/jdeekhof", target="_new"><i class="fab fa-github"></i></a>
             <a href="https://discord.com/users/571151209231155201", target="_new"><i class="fab fa-discord"></i></i></a>
             <a href="mailto:jdeekhof@gmail.com", target="_new"><i class="fas fa-envelope-open-text"></i></a>
             <a href="https://www.linkedin.com/in/jacobeekhof/", target="_new"><i class="fab fa-linkedin-in"></i></a>
          </div>
        </div>
      </nav>
      <div class='main' id="main">
        <nav class="navbar">
          <div class="menuToggler open" onclick="iconAnimate(this)">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
          </div> 
            <% if admin_signed_in? %>
              <div>
                <%= link_to("New Post", new_entry_path, class: 'btn btn-primary') %>
                <%= link_to "Log Out", destroy_admin_session_path, method: :delete, class:"btn btn-danger" %>
              </div>
            <% else %>
              <%= link_to "Log In", new_admin_session_path, class:"btn btn-success" %>
            <% end %>
          </nav> 
              <div class='container content'>
         <div class="container">
        <% flash.each do |type, msg| %>
        <% if type == "notice" %>
          <%= content_tag :div, msg, class: "alert alert-success" %>
        <% elsif type == "alert" %>
          <%= content_tag :div, msg, class: "alert alert-danger" %>
          <% end %>
        <% end %>
      </div>
        <%= yield %>
      </div>
    </div>
  </div>

  <script type="text/javascript">
    function openNav() {
      nav =  document.getElementById('mySideNav')
      main = document.getElementById('main')
      nav.style.width = "250px";
      main.style.marginLeft = "250px";
    }
    function closeNav() {
      nav =  document.getElementById('mySideNav')
      main = document.getElementById('main')
      nav.style.width = "0";
      main.style.marginLeft = "0";
    }
    function iconAnimate(x) {
        
        if (x.classList.length > 1){
          x.classList.toggle("open");
          console.log("close nav");
          closeNav()
        }
        else{
        x.classList.toggle("open");
        console.log("open nav");
        openNav() 
      }}

  </script>
  </body>
</html>

